#footer {
  border-top: solid 2px $primary;
}

footer {
  h2 {
    margin: 0 auto $font-size-base*2;
  }

  img {
    width: 200px;
    height: auto;
  }
}

.foot-link li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 $font-size-base*1;

  a {
    font-size: $font-size-base*0.8;
  }
}

.foot-sns {
  margin: $font-size-base*2 auto;

  a {
    font-size: $font-size-base*1.4;

    img {
      max-width: 22px;
      max-height: 22px;
    }
  }

  li:last-child {
    font-size: 0;

    a {
      font-size: 0;
    }
  }
}

.foot-copy {
  background-color: $primary;
  color: $white;
  box-sizing: border-box;
  padding: $font-size-base*0.8 0;
}